In [8]:
import pandas as pd

#from pykml import parser

SyntaxError: invalid syntax (<ipython-input-8-26af2ae0ebbf>, line 1)

In [63]:
#pip install pykml

Collecting pykml
  Downloading pykml-0.2.0-py3-none-any.whl (41 kB)
Requirement already satisfied: lxml>=3.3.6 in c:\users\malwina\anaconda3\lib\site-packages (from pykml) (4.5.2)
Installing collected packages: pykml
Successfully installed pykml-0.2.0
Note: you may need to restart the kernel to use updated packages.

In [23]:

path = 'C:/Users/Malwina/Desktop/Data_Science/Bootcamp/Visualization/Bergfex_project_cont/swiss_cities.csv'
cities = pd.read_csv(path)
path2 = 'C:/Users/Malwina/Desktop/Data_Science/Bootcamp/Visualization/Bergfex_project_cont/ski.csv'
ski_resorts = pd.read_csv(path2)
# EPSG:4326/WGS84

In [24]:
cities = cities.drop(columns ={'iso2', 'country', 'capital', 'population', 'population_proper', 'admin_name'})

In [27]:
ski_resorts = ski_resorts.rename(columns = {'X':'lng', 'Y':'lat', 'Name': 'city'})

In [35]:
ski_resorts.head()

                  city        lat       lng
0               Airolo  46.514278  8.607778
1  Andermatt Gemsstock  46.602389  8.611778
2                Arosa  46.789611  9.638778
3            Braunwald  46.938250  8.987139
4               Brunni  47.028639  8.698667

In [36]:
ski_resorts.info() # 31 lines

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   city    31 non-null     object
 1   lat     31 non-null     float64
 2   lng     31 non-null     float64
dtypes: float64(2), object(1)
memory usage: 872.0+ bytes

In [31]:
ski_resorts = ski_resorts.drop(columns = {'description'})

In [ ]:
ski_resorts = ski_resorts[['city', 'lat', 'lng']]

In [25]:
cities.head()

       city      lat     lng
0    Zürich  47.3786  8.5400
1    Geneva  46.2000  6.1500
2     Basel  47.5606  7.5906
3  Lausanne  46.5333  6.6333
4      Bern  46.9480  7.4474

In [37]:
 cities.info() # 115 lines

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   city    115 non-null    object
 1   lat     115 non-null    float64
 2   lng     115 non-null    float64
dtypes: float64(2), object(1)
memory usage: 2.8+ KB

In [38]:
# merging the two dataframes

swiss_cities = pd.concat([cities, ski_resorts], ignore_index=True)

In [39]:
swiss_cities.info() # 146 rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   city    146 non-null    object
 1   lat     146 non-null    float64
 2   lng     146 non-null    float64
dtypes: float64(2), object(1)
memory usage: 3.5+ KB

In [45]:
swiss_cities.head()

       city      lat     lng
0    Zürich  47.3786  8.5400
1    Geneva  46.2000  6.1500
2     Basel  47.5606  7.5906
3  Lausanne  46.5333  6.6333
4      Bern  46.9480  7.4474

In [46]:
swiss_cities.to_csv('C:/Users/Malwina/Desktop/Data_Science/Bootcamp/Visualization/Bergfex_project_cont/city_coord.csv')

In [56]:
path = 'C:/Users/Malwina/Desktop/Data_Science/Bootcamp/Visualization/Bergfex_project_cont/city_coord.csv'
coord = pd.read_csv(path)

In [57]:
coord.head()

   Unnamed: 0      city      lat     lng
0           0    Zürich  47.3786  8.5400
1           1    Geneva  46.2000  6.1500
2           2     Basel  47.5606  7.5906
3           3  Lausanne  46.5333  6.6333
4           4      Bern  46.9480  7.4474

In [59]:
coord = coord.drop(columns={'Unnamed: 0'})

In [60]:
coord.head()

       city      lat     lng
0    Zürich  47.3786  8.5400
1    Geneva  46.2000  6.1500
2     Basel  47.5606  7.5906
3  Lausanne  46.5333  6.6333
4      Bern  46.9480  7.4474

In [62]:
coord.to_csv('C:/Users/Malwina/Desktop/Data_Science/Bootcamp/Visualization/Bergfex_project_cont/swiss_coord.csv', index=False)